<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.creatactil.noty"
		versionCode="1"
		version   = "1.0.0">

    <name>NOTY</name>

    <description>
			prueba notificacion
    </description>

    <author href="http://www.creatactil.com" email="info@creatactil.com">
        Creatactil S.L.
    </author>
	
	<gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>100</string>
    </gap:config-file>

    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
	
		 
	<preference name="phonegap-version" value="cli-5.4.1" />
    <preference name="orientation"                value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" /> 

  
   <gap:platform name="android" />     
  
     <!-- Plugins -->
		
		<plugin name="phonegap-plugin-push" spec="1.4.2" source="pgb" />
		<plugin name="hu.dpal.phonegap.plugins.uniquedeviceid" source="pgb" spec="1.2.0" />
		<plugin name="org.apache.cordova.console" source="pgb" spec="0.2.13" />
		<plugin name="org.apache.cordova.contacts" source="pgb" spec="0.2.13" />
		<plugin name="org.apache.cordova.device" source="pgb" spec="0.2.12" />
		<plugin name="org.apache.cordova.device-motion" source="pgb" spec="0.2.10" />
		<plugin name="org.apache.cordova.device-orientation" source="pgb" spec="0.3.9" />
		<plugin name="org.apache.cordova.dialogs" source="pgb" spec="0.2.10" />
		<plugin name="cordova-plugin-file" spec="3.0.0" source="pgb" />
		<plugin name="org.apache.cordova.file-transfer" spec="0.5.0" source="pgb" />
		<plugin name="org.apache.cordova.geolocation" source="pgb" spec="0.3.10" />
		<plugin name="org.apache.cordova.globalization" source="pgb" spec="0.3.1" />
		<plugin name="cordova-plugin-inappbrowser" spec="1.0.1" source="pgb" />
		<plugin name="org.apache.cordova.media" source="pgb" spec="0.2.13" />
		<plugin name="org.apache.cordova.media-capture" source="pgb" spec="0.3.3" />
		<plugin name="org.apache.cordova.network-information" source="pgb" spec="0.2.12" />
		<plugin name="org.apache.cordova.splashscreen" source="pgb" spec="0.3.4" />
		<plugin name="org.apache.cordova.vibration" source="pgb" spec="0.3.11" />
		<plugin name="com.indigoway.cordova.whitelist.whitelistplugin" spec="1.1.1" source="pgb" />
		

   
		<feature name="http://api.phonegap.com/1.0/file"/>
		<feature name="http://api.phonegap.com/1.0/media"/>
		<feature name="http://api.phonegap.com/1.0/network"/>
		<feature name="http://api.phonegap.com/1.0/notification"/>
		<feature name="http://api.phonegap.com/1.0/device"/>
		
		
   
    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <icon src="imagenes/36.png" gap:platform="android" gap:density="ldpi" />
	<icon src="imagenes/48.png" gap:platform="android" gap:density="mdpi" />
	<icon src="imagenes/72.png" gap:platform="android" gap:density="hdpi" />
	<icon src="imagenes/96.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="imagenes/144.png" gap:platform="android" gap:density="xxhdpi" />
    <icon src="imagenes/192.png" gap:platform="android" gap:density="xxxhdpi" />

    <!-- Define app splash screen for each platform. -->
    <gap:splash src="splash/android(200).png" density="port-ldpi"/>
	<gap:splash src="splash/android(320).png" density="port-mdpi"/>
	<gap:splash src="splash/android(480).png" density="port-hdpi"/>
	<gap:splash src="splash/android(720).png" density="port-xhdpi"/>
	
	<!--<gap:splash src="splash/android(960).png" gap:platform="android" gap:density="xxhdpi" />
	<gap:splash src="splash/android(1280).png" gap:platform="android" gap:density="xxxhdpi" />-->
    
	<gap:splash src="splash.png" />
    <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
    <access origin="*"/>
  

</widget>
